/* Definindo estilo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #000000;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    color: #000000;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    width: 100%;
    margin-bottom: 10px;
}

button {
    background-color: #8d0c0c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }

    label,
    input[type="text"],
    input[type="email"],
    input[type="date"],
    button {
        font-size: 14px;
    }
}
