/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais do body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Menu Lateral */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #9e1010;
    color: white;
    left: 0;
    position: fixed;
    top: 0;
    padding-top: 20px;
}

.sidebar .logo-container {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar .logo {
    width: 80%;
    max-width: 150px;
    height: auto;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    padding: 16px;
    text-align: center;
}

.sidebar ul li a {
    color: rgb(255, 255, 255);
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: background-color 0.3s ease;
    padding: 10px 16px;
}

.sidebar ul li a:hover {
    background-color: #000000;
    padding: 10x 14px;
}

/* Botão de Sair - Movido para mais cima e bordas arredondadas */
.sair {
    position: absolute;
    bottom: 20px;
    width: 100px;
    left: 75px;
    background-color: #000000;
    border-radius: 25px; /* Mais arredondado */
    padding: 10px;
    text-align: center;
}

.sair:hover {
    background-color: #000000;
}

.fade-out {
    animation: fadeOut 0.5 ease-out forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Conteúdo principal */
.main-content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
    margin-top: 0;
}

/* Botões (Cadastro, Importar, Exportar) - Alinhados à esquerda */
.button-container {
    display: flex;
    justify-content: flex-start; /* Alinhando à esquerda */
    gap: 15px; /* Espaçamento entre os botões */
    margin-bottom: 20px;
}

.button {
    background-color: #a81515;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #000000;
}

/* Caixa de pesquisa */
.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.search-container .fa-search {
    font-size: 20px;
    color: #000000;
    margin-right: 10px;
}

.search-container .search {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #000000;
}

/* Espaço entre a barra de pesquisa e a tabela */
.search-container {
    margin-bottom: 30px; /* Aumentando a margem para criar mais espaço */
}

.grafico-container {
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 20%;
    max-width: 300px;
    max-height: 250px;
    margin-top: 20px;
    text-align: center;
}

.grafico-container {
    display: flex;
    flex-direction: column;  /* Mudado para coluna, para colocar a legenda abaixo */
    align-items: center;
    justify-content: center;
    width: 30%;
    max-width: 300px;
    margin-top: 10px;
    text-align: center;
}

.grafico-container h2 {
    margin-top: 20px;
    font-size: 14px;
    color: #000000;
}

.legend-container {
    display: flex;
    flex-direction: column;  /* Legendas dispostas verticalmente */
    margin-left: 20px;
    padding-right: 10px;
    padding-left: 10px;
    width: auto; /* Largura dinâmica */
}

.legend-container div {
    display: flex;
    align-items: center;
    margin-bottom: 8px;  /* Menos espaço entre as legendas */
}

.legend-container div span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.legend-container div p {
    margin: 0;
    font-size: 14px;
    color: #000000;  /* Texto em branco para melhor contraste */
}

/* Estilo adicional para o total de espaço utilizado no estoque */
.total {
    margin-top: 10px;
    font-size: 14px;
    color: #000000;  /* Texto em branco */
    font-weight: bold;
}

#graficoPizza {
    margin: 0; /* Diminuindo a margem superior do gráfico */
    padding: 0;
}
