/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais do body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
}

/* Menu Lateral */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #9e1010;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
}

.sidebar .logo-container {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar .logo {
    width: 80%;
    max-width: 150px;
    height: auto;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    padding: 16px;
    text-align: center;
}

.sidebar ul li a {
    color: rgb(255, 255, 255);
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: background-color 0.3s ease;
    padding: 10px 16px;
}

.sidebar ul li a:hover {
    background-color: #000000;
    padding: 10x 14px;
}

/* Botão de Sair - Movido para mais cima e bordas arredondadas */
.sair {
    position: absolute;
    bottom: 20px;
    width: 100px;
    left: 75px;
    background-color: #000000;
    border-radius: 25px; /* Mais arredondado */
    padding: 10px;
    text-align: center;
}

.sair:hover {
    background-color: #000000;
}

.fade-out {
    animation: fadeOut 0.5 ease-out forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Conteúdo principal */
.main-content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
}

/* Botões (Cadastro, Importar, Exportar) - Alinhados à esquerda */
.button-container {
    display: flex;
    justify-content: flex-start; /* Alinhando à esquerda */
    gap: 15px; /* Espaçamento entre os botões */
    margin-bottom: 20px;
}

.button {
    background-color: #a81515;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #000000;
}

/* Caixa de pesquisa */
.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.search-container .fa-search {
    font-size: 20px;
    color: #000000;
    margin-right: 10px;
}

.search-container .search {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #000000;
}

/* Tabela de Estoque */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #960c0c;
    color: white;
}

table tr:nth-child(even) {
    background-color: #ecf0f1;
}

table tr:hover {
    background-color: #dfe6e9;
}

/* Espaço entre a barra de pesquisa e a tabela */
.search-container {
    margin-bottom: 30px; /* Aumentando a margem para criar mais espaço */
}
