
/* Layout básico */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #740b0b;
    color: white;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.sidebar .logo-container {
    text-align: center;
    width: 100%;
    margin-bottom: 10px; /* Diminui o espaço abaixo da logo */
    display: flex;
    justify-content: center; /* Centraliza a logo horizontalmente */
    align-items: center; /* Centraliza a logo verticalmente */
    flex-direction: column; /* Alinha os itens em coluna */
    max-height: 150px;
}

.sidebar .logo-container img {
    padding: 0; /* Remove o padding, pois valores negativos podem gerar problemas */
    width: 100%; /* Ajuste a largura da logo */
    height: 100%;
}


.sidebar a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
    display: block;
    font-size: 16px;
    text-align: center;
    width: 100%;
    padding: 8px 20px;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: #000000;
    border-radius: 40px;
    padding-left: 10px;
    transition: all 0.3s;
}

/* Containers superiores */
.finance-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #a80f0f;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    max-width: 100%; /* Define a largura máxima */
    margin: 20px auto;
    width: 800px;
    height: 150px;
    border-radius: 20px; /* Bordas arredondadas */
    margin-left: 300px;
}

.finance-item {
    text-align: center;
    color: white; /* Mudando a cor do texto para branco */
}

.finance-item h3 {
    margin-bottom: 10px;
    font-size: 1.2rem; /* Ajuste no tamanho da fonte */
}

.finance-item p {
    font-size: 1.5rem;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ffffff;
}

table th {
    background-color: #000000;
}

/* Botão de nova transação */
.nova-transacao {
    position: absolute;
    top: 30px; /* Ajuste no espaço superior */
    right: 10px; /* Ajuste no espaço direito */
}

.btn {
    padding: 10px 20px;
    background-color: #a71010;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1rem;
}

.btn-primary:hover {
    background-color: #000000;

}

.btn-voltar{
    bottom: 40px;
    padding: 10px;
    width: 100px;
    left: 60px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.btn-voltar:hover{
    background-color: #000000;
}

.btn-voltar i {
    margin-right: 5px;
}

.btn-voltar:hover {
    background-color: white';
}

/* Adicionando ícones para Entradas, Saídas e Total */
.finance-item i {
    font-size: 2rem; /* Tamanho do ícone */
    margin-bottom: 10px;
}


