<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Financeira</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/financeiro/financeiro.css">
</head>
<body>

    <div class="sidebar">
        <div class="logo-container">
            <img src="/static/img/Logo menu.png" alt="Logo da empresa" class="logo">
        </div>
        <a href="javascript:history.back()" class="btn-voltar">
            <i class="fa fa-sign-out"></i> <span>Voltar</span>
        </a>
        <a href="#">Visão de Competência</a>
        <a href="#">A pagar</a>
        <a href="#">A receber</a>
        <a href="#">Relatórios</a>
        <a href="#">Movimentações</a>
        <a href="#">Fluxo de Caixa</a>
        <a href="#">Configurações</a>
    </div>

    <!-- Container Superior -->
    <div class="finance-container">
        <div class="finance-item">
            <i class="ri-money-dollar-box-line"></i> <!-- Ícone de Entradas -->
            <h3>Entradas</h3>
            <p>R$ 10.000,00</p>
        </div>
        <div class="finance-item">
            <i class="ri-arrow-up-line"></i> <!-- Ícone de Saídas -->
            <h3>Saídas</h3>
            <p>R$ 3.000,00</p>
        </div>
        <div class="finance-item">
            <i class="ri-bank-card-line"></i> <!-- Ícone de Total em Caixa -->
            <h3>Total em Caixa</h3>
            <p>R$ 7.000,00</p>
        </div>
    </div>

    <div class="nova-transacao">
        <a href= "/transferencia" class="btn btn-primary">Nova Transferência</a>
    </div>

    <script src="/js/financeiro.js"></script>
</body>
</html>
