{% extends "estoque/base_estoque.html" %}

{% block title %}Análise de Produtos{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-6 text-gray-800">Análise de Produtos</h1>

<div class="flex flex-col md:flex-row justify-between gap-4 mb-6">
    <div class="flex gap-4">
        <div class="flex items-center border border-gray-300 rounded px-2">
            <input type="text" id="pesquisaProduto" placeholder="Pesquisar Produto" class="p-2">
        </div>
    </div>
</div>

<!-- Formulário de produtos -->
<section class="bg-white p-4 rounded-lg shadow-md">
    <h2 class="text-xl font-semibold mb-4">Produtos Cadastrados</h2>

    <!-- Tabela de produtos -->
    <div class="overflow-auto">
        <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow">
            <thead>
                <tr class="bg-gray-100">
                    <th class="p-4 text-left">Id</th>
                    <th class="p-4 text-left">Nome do Produto</th>
                    <th class="p-4 text-left">Marca</th>
                    <th class="p-4 text-left">Categoria</th>
                    <th class="p-4 text-left">Medida</th>
                </tr>
            </thead>
            <tbody id="tabelaProdutos">
                {% for produto in produtos %}
                    <tr class="produto">
                        <td class="p-4">{{ produto.nome }}</td>
                        <td class="p-4">{{ produto.categoria }}</td>
                        <td class="p-4">{{ produto.preco }}</td>
                        <td class="p-4">{{ produto.quantidade }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<script>
    // Função para filtrar produtos com base na pesquisa
    document.getElementById('pesquisaProduto').addEventListener('input', function() {
        const searchTerm = this.value.toLowerCase();
        const produtos = document.querySelectorAll('.produto');

        produtos.forEach(function(produto) {
            const nome = produto.querySelector('td:nth-child(1)').textContent.toLowerCase();
            const categoria = produto.querySelector('td:nth-child(2)').textContent.toLowerCase();

            if (nome.includes(searchTerm) || categoria.includes(searchTerm)) {
                produto.style.display = '';
            } else {
                produto.style.display = 'none';
            }
        });
    });
</script>

{% endblock %}
