<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estoque.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <!-- Menu Lateral -->
    <div class="sidebar">
        <div class="logo-container">
            <img src="/static/img/Logo menu.png" alt="Logo da empresa" class="logo">
        </div>
        <ul>
            <li><a href="#inicio">Início</a></li>
            <li><a href="#relatorios">Relatórios</a></li>
            <li><a href="/compras">Compras</a></li>
            <li><a href="/sair" class="sair">Sair</a></li>
        </ul>
    </div>


    <!-- Conteúdo principal -->
    <div class="main-content">

        <div class="button-container">
            <button class="button">Cadastro</button>
            <button class="button">Importar</button>
            <button class="button">Exportar</button>
        </div>

        <div class="search-container">
            <i class="fas fa-search"></i> <!-- Ícone da lupa -->
            <input type="text" class="search" placeholder="Pesquisar Produto...">
        </div>

        <!-- Tabela de Estoque -->
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome do Produto</th>
                    <th>Marca</th>
                    <th>Quantidade</th>
                    <th>Medida</th>
                    <th>Data de Compra</th>
                    <th>Valor Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>007</td>
                    <td>Produto 01</td>
                    <td>Marca A</td>
                    <td>50</td>
                    <td>Unidade</td>
                    <td>2025-02-01</td>
                    <td>R$ 500,00</td>
                </tr>
                <tr>
                    <td>015</td>
                    <td>Produto 2</td>
                    <td>Marca B</td>
                    <td>30</td>
                    <td>Caixa</td>
                    <td>2025-01-15</td>
                    <td>R$ 300,00</td>
                </tr>
                <!-- Mais produtos podem ser listados aqui -->

            </tbody>
        </table>
    </div>
</body>
</html>
