<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estoque.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <!-- Menu Lateral -->
    <div class="sidebar">
        <div class="logo-container">
            <img src="/static/img/Logo menu.png" alt="Logo da empresa" class="logo">
        </div>
        <ul>
            <li><a href="/inicio">Início</a></li>
            <li><a href="#relatorios">Relatórios</a></li>
            <li><a href="/compras">Compras</a></li>
            <li><a href="/inicio" class="sair">Sair</a></li>
        </ul>
    </div>


    <!-- Conteúdo principal -->
    <div class="main-content">

        <div class="button-container">
            <a href="{{ url_for('cadastro') }}">
            <button class="button">Cadastro</button>
        </a>
            <button class="button">Importar</button>
            <button class="button">Exportar</button>
        </div>

        <div class="search-container">
            <i class="fas fa-search"></i> <!-- Ícone da lupa -->
            <input type="text" class="search" placeholder="Pesquisar Produto...">
        </div>

        <!-- Tabela de Estoque -->
        <table>
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Medida</th>
                    <th>Custo Médio</th>
                    <th>Preço de venda</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>007</td>
                    <td>Produto 01</td>
                    <td>5</td>
                    <td>Kg</td>
                    <td>R$ 250,00</td>
                    <td>R$ 56,00</td>
                </tr>
                <tr>
                    <td>015</td>
                    <td>Produto 2</td>
                    <td>2</td>
                    <td>Litros</td>
                    <td>R$ 65,00</td>
                    <td>R$ 13,00</td>
                </tr>
                <!-- Mais produtos podem ser listados aqui -->

            </tbody>
        </table>
    </div>
</body>
</html>
